push constant 1
push constant 2
push constant 3
push constant 4
push constant 5
push constant 6
push constant 7
push constant 8
push constant 9
pop  local    9
pop  local    8
pop  local    7
pop  local    6
pop  local    5
pop  local    4
pop  local    3
pop  local    2
pop  local    1